<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sylvia" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="my-4 d-flex justify-content-between align-center">
        <h3><%= current_user.team.name %></h3>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
